body{
    background: url(https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

nav.navbar.bg-body-tertiary {
    margin: 36px 31px 28px 26px;
}

.container-fluid{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a.navbar-brand{
    color: white;;
}

img{
   position: fixed;
 
}
.head{
    border: 1px solid black;
    text-align: center;
    padding: 50px 80px;
    background-color: #f1b294;
    font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 70px;
}
.hello{
    margin: 161px 468px 335px 312px;
    text-align: center;
    width: 787px;
    padding: -7px 4px 13px 15px;
    height: 154px;
    font-family: "Lato", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.8em;
    font-size: 53px;
    color: white;
    
}

#too{
    height: 170px;
}
#web{
    height: 70px;
} 

